.account-avatar {
  margin-right: 11px;
}

.account-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 150px;
  width: 101px;
}

.account-list-icon {
  font-size: 25px;
  justify-self: flex-end;
  align-self: center;
}
