.token-details-grid-containers {
  background-image: linear-gradient(to bottom, #a32c71, #d75fa0);
  display: grid;
  grid-template-areas:
    "token-name           token-balance"
    "deposit-button       send-button"
    "token-market-details token-market-details";
  grid-template-rows: 70px 60px auto;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 18px;
  padding-right: 18px;
  height: 142px;
}

.token-details-grid-token-name {
  grid-area: token-name;
  justify-self: flex-start;
  align-self: center;
}
.token-details-token-balance {
  grid-area: token-balance;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.token-balance-amount {
  font-family: "Roboto-Regular";
  font-size: 30px;
  color: #ffffff;
  align-self: flex-end;
  line-height: 39px;
}
.token-balance-grid-usd {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #ffffff;
  align-self: flex-end;
}

.token-details-grid-send-button {
  grid-area: send-button;
  justify-self: center;
  align-self: center;
}
.token-details-grid-deposit-button {
  grid-area: deposit-button;
  justify-self: center;
  align-self: center;
}

.token-details-token-name-balance-token-usd {
  grid-area: token-usd;
}

.token-details-token-name-balance-in-your-wallet {
  grid-area: in-your-wallet;
  font-family: "Roboto-Light";
  font-size: 10px;
  opacity: 0.7;
  justify-self: flex-start;
  align-self: flex-end;
  color: #ffffff;
}

.token-details-market-data-error {
  padding: 0 20px;
  text-align: left;
}

.token-details-grid-token-market-details {
  grid-area: token-market-details;
  align-items: flex-end;
  text-align: center;
  height: 223px;
}

.token-details-market-data-grid-containers {
  display: grid;
  grid-template:
    "market-cap current-price"
    "price-movement volume "
    "circulating-supply max-supply";
  grid-auto-columns: 1fr;
  height: 178px;
  margin: 25px 33px 21px 33px;
  text-align: center;
  align-items: flex-end;
}

.token-details-market-data-market-cap {
  grid-area: market-cap;
}

.token-details-market-data-current-price {
  grid-area: current-price;
}

.token-details-market-data-price-movement {
  grid-area: price-movement;
}

.token-details-market-data-volume {
  grid-area: volume;
}

.token-details-market-data-circulating-supply {
  grid-area: circulating-supply;
}

.token-details-market-data-max-supply {
  grid-area: max-supply;
}

.token-details-market-data-button {
  height: 36px;
  text-align: center;
  background-color: #b71c1c;
  padding-top: 10px;
}
