.import-seed-phrase-container {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: left;
}

.import-seed-phrase-input {
  margin-top: 17px;
}
